@Model
@{
    ViewBag.Title = "Home Page";
}
<body>
<a href="/Home/StudentListIndex">
    <img src="~/Content/Students.png" style="overflow: hidden; position: center ; width:100%; height:100%;" />
</a>
    <a href="/Home/TeacherListIndex">
    <img src="~/Content/Teachers.png" style="overflow: hidden; position: center  ; width:100%; height:100%;  " />
        </a>
</body>
